<div class="MainView">
	<header class="main-header">
		<div class="brand">
			<h1>MVDOM - Patterns</h1>
			<h2>Patterns over frameworks</h2>
		</div>
		<div class="flex-fill">
		</div>

		<div class="user-info">
		<div>
			Login
		</div>
	</header>

	<section class="main-frame">

		<div class="main-nav">
			<a href="#">Home</a>	
			<a href="#todo">TodoMVC</a>
		</div>

		<div class="main-content">
		</div>
	</section>

</div>