button, .btn{
	
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	transition: .3s ease-out;
	
	&:hover{
		background-color: #DFDFDF;
	}

}